#  Required by VTS
CONFIG_CPU_SW_DOMAIN_PAN=y
CONFIG_ARM64_PAN=y
CONFIG_ARM64_SW_TTBR0_PAN=y
CONFIG_ARMV8_DEPRECATED=y
CONFIG_COMPAT=y
CONFIG_CP15_BARRIER_EMULATION=y
CONFIG_SETEND_EMULATION=y
CONFIG_SWP_EMULATION=y
CONFIG_SHADOW_CALL_STACK=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_KFENCE=y
CONFIG_KFENCE_SAMPLE_INTERVAL=500
CONFIG_USERFAULTFD=y
CONFIG_WWAN=y
CONFIG_USB_SERIAL=y
CONFIG_USB_SERIAL_WWAN=y
CONFIG_USB_SERIAL_OPTION=y
CONFIG_USBNET=y
CONFIG_USB_NET_QMI_WWAN=m
CONFIG_USB_GOBI_NET=y
CONFIG_PPP=y
CONFIG_PPP_BSDCOMP=y
CONFIG_PPP_DEFLATE=y
CONFIG_PPP_FILTER=y
CONFIG_PPP_MPPE=y
CONFIG_PPP_MULTILINK=y
CONFIG_PPPOATM=y
CONFIG_PPPOE=y
CONFIG_PPP_ASYNC=y
CONFIG_PPP_SYNC_TTY=y